@model EcoLoop.Models.NewsDetailsViewModel

<h2>@Model.Title</h2>
<p><i>@Model.CreatedOn</i></p>

<img src="@Model.ImageUrl" style="width:300px;" />

<h3>@Model.ShortDescription</h3>

<p>@Model.FullText</p>
